.trending{

    h2{
        color: var(--color-letras);
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-align: center;
        margin-top: 31px;
    }
    p{
        color: var(--color-letras);
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: 2px 75px 45px 75px;
        &::first-letter{
            text-transform: uppercase;
        }
        span{
            cursor: pointer;  
            &:hover{
                color: $colorGifos;
            }
        }
    }
}
